<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.miroffice.approval.ApprovalDao"> 
	
	<insert id="approvalSubmit" parameterType="com.group4.miroffice.approval.ApprovalDto">
		insert into approval (emp_no, dept_no, app_title, app_text, app_date, app_admin1,
		app_admin2, app_admin3, app_approve1, app_approve2, app_approve3, app_approvefinal)
		values (#{empNo}, #{deptNo}, #{appTitle}, #{appText}, now(), #{appAdmin1},
		#{appAdmin2}, #{appAdmin3}, #{appApprove1}, #{appApprove2}, #{appApprove3}, #{appApprovefinal})
	</insert>
	
	<insert id="adminApprovalWrite" parameterType="com.group4.miroffice.approval.ApprovalDto">
		insert into approval (emp_no, dept_no, app_title, app_text, app_date, app_admin1,
		app_admin2, app_admin3, app_approve1, app_approve2, app_approve3, app_approvefinal)
		values (9999003, 99, #{appTitle}, #{appText}, now(), #{appAdmin1},
		#{appAdmin2}, #{appAdmin3}, #{appApprove1}, #{appApprove2}, #{appApprove3}, #{appApprovefinal})
	</insert>
	
	<update id="approvalApprove1" parameterType="com.group4.miroffice.approval.ApprovalDto">
		update approval
		<set>
			<if test="appAdmin1 != null">app_approve1 = true,</if>
			<if test="appAdmin2 != null">app_approve2 = true,</if>
			<if test="appAdmin3 != null">app_approve3 = true,</if>
		</set>
		where app_no = #{appNo}
	</update>
	
	<update id="approvalNo" parameterType="com.group4.miroffice.approval.ApprovalDto">
		update approval
		<set>
			<if test="appAdmin1 != null">app_approve1 = false,</if>
			<if test="appAdmin2 != null">app_approve2 = false,</if>
			<if test="appAdmin3 != null">app_approve3 = false,</if>
		</set>
		where app_no = #{appNo}
	</update>
	
		
	<update id="approvalApprovef" parameterType="com.group4.miroffice.approval.ApprovalDto">
		update approval set app_approvefinal = true where app_no = #{appNo} 
			<if test="appAdmin1 != null">and app_approve1 is true</if>
			<if test="appAdmin2 != null">and app_approve2 is true</if>
			<if test="appAdmin3 != null">and app_approve3 is true</if>

	</update>
	
	<update id="approvalApprovefail" parameterType="com.group4.miroffice.approval.ApprovalDto">
		update approval set app_approvefinal = false where app_no = #{appNo}
	</update>
	
	
	<update id="adminApprovalEdit" parameterType="com.group4.miroffice.approval.ApprovalDto">
		update approval
		<set>
			<if test="appTitle != null">app_title = #{appTitle},</if>
			<if test="appText != null">app_text = #{appText},</if>
			<if test="appDate != null">app_date = now(),</if>
		</set>
		where app_no = #{appNo}
	</update>
	
	<update id="adminApprovalEdit2" parameterType="com.group4.miroffice.approval.ApprovalDto">
		update approval
		<set>
			<if test="appTitle != null">app_title = #{appTitle},</if>
			<if test="appText != null">app_text = #{appText},</if>
			<if test="appDate != null">app_date = now(),</if>
		</set>
		
		where app_no = #{appNo}
	</update>
	
	<select id="approvalList" parameterType="Integer" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where dept_no = #{deptno}
	</select>
	
	<select id="approvalList2" parameterType="Integer" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where emp_no = #{empno} and app_admin1 is not null
	</select>
	
	<select id="approvalList3" parameterType="Map" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where emp_no = #{empno} and app_approvefinal
		<choose>
			<when test="appapprovefinal == null">is null</when>
			<when test="appapprovefinal == true">= true</when>
			<when test="appapprovefinal == false">= false</when>
		</choose>
	</select>
	
	<select id="approvalList4" parameterType="Map" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where (${ad1} = #{empno} and ${ap1} is null) or (${ad2} = #{empno} and ${ap2} is null) or (${ad3} = #{empno} and ${ap3} is null);
	</select>

	<select id="approvalList5" parameterType="Map" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where (${ad1} = #{empno} and ${ap1} is true) or (${ad2} = #{empno} and ${ap2} is true) or (${ad3} = #{empno} and ${ap3} is true);
	</select>
	
		
	
	
	<select id="approvalListOne" parameterType="Integer" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where app_no = #{appno}
	</select>
	
</mapper>  
