<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.miroffice.forum.CommentDao"> 
	
	<insert id="commentWrite" parameterType="com.group4.miroffice.forum.CommentDto">
		insert into comment (forum_no, emp_no, comment_text, comment_date)
		values (#{forumNo}, #{empNo}, #{commentText}, now())
	</insert>
	
	<update id="commentEdit" parameterType="com.group4.miroffice.forum.CommentDto">
		update comment set comment_text = #{commentText} where comment_no = #{commentNo}
	</update>
	
	<delete id="commentDelete" parameterType="int">
		delete from comment where comment_no = #{commentno}
	</delete>
	
	<select id="commentList" parameterType="Integer" resultType="com.group4.miroffice.forum.CommentDto">
		select * from comment where forum_no = #{forumno}
	</select>
	
		
	<select id="commentCount" parameterType="Integer" resultType="Integer">
		select count(*) from comment where forum_no = #{forumno}
	</select>
	
	
</mapper>  
