<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.miroffice.forum.ForumDao"> 
	
	<insert id="forumWrite" parameterType="com.group4.miroffice.forum.ForumDto">
		insert into forum (emp_no, dept_no, forum_title, forum_text, forum_date, forum_notice, forum_files, forum_ofiles)
		values (#{empNo}, #{deptNo}, #{forumTitle}, #{forumText}, now(), #{forumNotice}, #{forumFiles}, #{forumOfiles})
	</insert>

	<update id="forumEdit" parameterType="com.group4.miroffice.forum.ForumDto">
		update forum 
		<set>
			<if test="forumTitle != null">forum_title = #{forumTitle},</if>
			<if test="forumText != null">forum_text = #{forumText},</if>
			<if test="forumNotice != null">forum_notice = #{forumNotice},</if>
			<if test="forumOfiles != null">forum_ofiles = #{forumOfiles},</if>
			<if test="forumFiles != null">forum_files = #{forumFiles},</if>
			</set>
		where forum_no = #{forumNo}
	</update>

	<update id="fileUpload" parameterType="Map">
		update forum set forum_files = #{files}
		where forum_no = #{forumNo}
	</update>
	
	<update id="forumCountup" parameterType="Integer">
		update forum set forum_count = forum_count+1
		where forum_no = #{forumNo}
	</update>

	<delete id="forumDelete" parameterType="Integer">
		delete from forum where forum_no = #{forumno}
	</delete>
	
	<select id="forumList" parameterType="Map" resultType="com.group4.miroffice.forum.ForumDto">
		select * from forum where dept_no = #{deptno} 
		<if test="keyword neq '%%'">
			and ${type} like #{keyword}
		</if>
		order by forum_date desc limit #{min}, #{max} 
	</select>
	
		
	<select id="forumListAdmin" parameterType="Map" resultType="com.group4.miroffice.forum.ForumDto">
		select * from forum
		<where>
			<if test="keyword neq '%%'">
				${type} like #{keyword}
			</if>
		</where>
		order by forum_date desc limit #{min}, #{max} 
	</select>
	
	
	<select id="forumNotice" parameterType="Integer" resultType="com.group4.miroffice.forum.ForumDto">
		select * from forum where dept_no = #{deptno} order by forum_notice desc, forum_date desc limit 0, 3 
	</select>
	
	
	<select id="forumOne" parameterType="Integer" resultType="com.group4.miroffice.forum.ForumDto">
		select * from forum where forum_no = #{forumno}
	</select>
	
</mapper>  
