<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.miroffice.approval.ApprovalDao"> 
	
	<insert id="approvalSubmit" parameterType="com.group4.miroffice.approval.ApprovalDto">
		insert into approval
		(
		<foreach item="value" index="key" collection="map"
		)
		insert into approval (emp_no, dept_no, app_title, app_text, app_date, app_admin1,
		app_admin2, app_admin3, app_approve1, app_approve2, app_approve3, app_approvaefinal)
		values (#{emp_no}, emp_no, dept_no, app_title, app_text, app_date, app_admin1,
		app_admin2, app_admin3, app_approve1, app_approve2, app_approve3, #{app_approvaefinal})
	</insert>
	
</mapper>  
