<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.miroffice.approval.ApprovalDao"> 
	
	<insert id="approvalSubmit" parameterType="com.group4.miroffice.approval.ApprovalDto">
		insert into approval (emp_no, dept_no, app_title, app_text, app_date, app_admin1,
		app_admin2, app_admin3, app_approve1, app_approve2, app_approve3, app_approvefinal)
		values (#{empNo}, #{deptNo}, #{appTitle}, #{appText}, now(), #{appAdmin1},
		#{appAdmin2}, #{appAdmin3}, #{appApprove1}, #{appApprove2}, #{appApprove3}, #{appApprovefinal})
	</insert>
	
	<insert id="adminApprovalWrite" parameterType="com.group4.miroffice.approval.ApprovalDto">
		insert into approval (emp_no, dept_no, app_title, app_text, app_date, app_admin1,
		app_admin2, app_admin3, app_approve1, app_approve2, app_approve3, app_approvefinal)
		values (9999003, 99, #{appTitle}, #{appText}, now(), #{appAdmin1},
		#{appAdmin2}, #{appAdmin3}, #{appApprove1}, #{appApprove2}, #{appApprove3}, #{appApprovefinal})
	</insert>
	
	<select id="approvalList" parameterType="Integer" resultType="com.group4.miroffice.approval.ApprovalDto">
		select * from approval where dept_no = #{deptno}
	</select>
	
</mapper>  
