@charset "UTF-8";

.dataTables_wrapper.dt-bootstrap5.no-footer > .row.align-items-center > .col-md-6 > .dataTables_paginate.paging_simple_numbers{
  margin-left: 240px;
}
.dataTables_wrapper.dt-bootstrap5.no-footer > .row.align-items-center > .col-md-6:first-child {
  margin-left: 80px;
}
.dataTables_wrapper.dt-bootstrap5.no-footer > .row.align-items-center > .col-md-4 {
	display: none;
}
.dataTables_wrapper.dt-bootstrap5.no-footer > .table-responsive{
	max-width: 330px;
}
.dataTables_wrapper.dt-bootstrap5.no-footer{
	
	max-width: 330px;
}
