.fc-day-sun a {
	color: red;
	text-decoration: none;
}

.fc-day-sat a {
	color: blue;
	text-decoration: none;
}

.fc-day-mon a {
	color: black;
	text-decoration: none;
}

.fc-day-tue a {
	color: black;
	text-decoration: none;
}

.fc-day-wed a {
	color: black;
	text-decoration: none;
}

.fc-day-thu a {
	color: black;
	text-decoration: none;
}

.fc-day-fri a {
	color: black;
	text-decoration: none;
}

.fc-header-toolbar {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

html,
body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.fc-toolbar-chunk {
	display: flex;
	/* 일렬로 나란히 */
	align-items: center;
	/* 수직 가운데 정렬 */
}

.fc-day-sat a .fc-event-time {
	color: black;
}

.fc-day-sat a .fc-event-title {
	color: black;
}

.fc-day-sat a .fc-event-title.fc-sticky {
	color: white;
}

.fc-day-sun a .fc-event-time {
	color: black;
}

.fc-day-sun a .fc-event-title {
	color: black;
}

.fc-day-sun a .fc-event-title.fc-sticky {
	color: white;
}